* {
    box-sizing: border-box;
}

.video-background {
    background: #000;
    position: unset;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -99;
}
#myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: green;
    color: #fff;
    cursor: pointer;
}

.content1 {
    position: relative;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 90%;
    left: 0;
    bottom: 225px;
    margin-left: 25px;
}

.video-foreground,
.video-background iframe {
    position: unset;
    /* top: 51vh; */
    left: 0;
    width: 100%;
    pointer-events: none;
}

#vidtop-content {
    top: 0;
    color: #fff;
}

#video-foreground iframe {
    height: 40vw !important;
}

.vid-info {
    position: absolute;
    top: 0;
    right: 0;
    width: 33%;
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    padding: 1rem;
    font-family: Avenir, Helvetica, sans-serif;
}
.vid-info h1 {
    font-size: 2rem;
    font-weight: 700;
    margin-top: 0;
    line-height: 1.2;
}
.vid-info a {
    display: block;
    color: #fff;
    text-decoration: none;
    background: rgba(0, 0, 0, 0.5);
    transition: .6s background;
    border-bottom: none;
    margin: 1rem auto;
    text-align: center;
}
div#bannervideo {
    padding-left: 26px;
    padding-right: 26px;
}